.cardbody{
    border: 2px solid blueviolet;
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    text-align: center;
    font-size: 30px;
    width: 30%;
}

.cardbody img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}